body.light-mode {
  background-color: #f3e5f5; 
  color: #4a148c; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
body.dark-mode {
  background-color: #311b92; 
  color: #e1bee7; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  width: 40%;
  margin: 0 auto;
  padding: 20px; 
  border: 2px solid #9c27b0; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body.dark-mode .container {
  border: 2px solid #e1bee7; 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
}
h1 {
  text-align: center;
  color: #8e24aa; 
}
body.dark-mode h1 {
  color: #e1bee7; 
}
input[type="text"] {
  width: 60%;
  padding: 10px;
  background-color: #e1bee7; 
  color: #4a148c; 
  border: 1px solid #9c27b0; 
}
body.dark-mode input[type="text"] {
  background-color: #5e35b1; 
  color: #e1bee7; 
  border: 1px solid #e1bee7; 
}
button {
  padding: 10px 15px;
  margin: 5px;
  background-color: #9c27b0; 
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #ab47bc; 
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff; 
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; 
}
th {
  background-color: #9c27b0; 
  color: white;
}
.progress {
  margin-top: 20px;
}
#modeSwitch {
  margin-left: 10px;
}
